input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: SFProText;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #dadde3;
}

A {
    text-decoration: none
}

.list-head {
    flex: auto;
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}


.list-status {
    margin-top: 8px;
    margin-bottom: 6px;
    font-family: SFUIText;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.list-detail-div {
    margin-bottom: 2px;
    height: 75px;
    background-color: #ffffff;
}

.list-line {
    flex: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    bottom: 1px;
    border: solid 1px #e7eaec;
}

.list-head-div {
    flex: auto;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.share-desc-div {
    flex: auto;
    margin-top: 15px;
    position: relative;
}

.back-new-contract {
    flex: auto;
    width: 100%;
    margin-top: 25px;
    position: relative;
    float: left;
    text-align: center;
}

.contract-page {
    flex: auto;
    margin-top: 5px;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.contract-page-href {
    height: 20px;
    width: 100%;
    margin-left: 2%;
    font-family: SFUIText;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.list-content {
    position: relative;
    float: left;
    width: 100%;
}

.list-content-div {
    width: 100%;
}

.share-bottom-div {
    flex: auto;
    width: 100%;
    position: relative;
    float: left;
    margin-top: 15px;
}

.share-font {
    height: 20px;
    font-family: SFUIText;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.38);
}
