.index-img {
    flex: auto;
    width: 100%;
    position: relative;
    float: left;
}


.index-bet-new {
    margin-bottom: 51px;
}

.index-details-font {
    flex: auto;
    font-family: SFProText;
    height: 20px;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    position: relative;
    box-shadow: 0 0 0 0 rgba(25, 118, 210, 0.1);
}

.index-content-div {
    width: 100%;
    background-color: #ffffff;
}

.index-details-left {
    font-family: SFUIText;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: normal;
    float: left;
    color: #6aba0c;
}

.index-details-right {
    font-weight: normal;
    float: right;
    margin-right: 8px;
}

.index-details-right-count {
    color: rgba(0, 0, 0, 0.54);
}

.index-main-content {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

.index-content-div-left {
    font-weight: normal;
    float: left;
}

.index-content-div-bottom {
    left: 0;
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding: 15px;
    background-color: #1976d2;
    border-radius: 4px;
    border: solid 1px #1976d2;
}

.index-content-details {
    flex: auto;
    position: relative;
    float: left;
}