.winner-show {
    flex: auto;
    position: relative;
    text-align: center;
    margin-top: 15px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: SFProText;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #dadde3;
}

.failed-show {
    flex: auto;
    position: relative;
    text-align: center;
    margin-top: 15px;
}

.end-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.bet-share {
    width: 44px;
    height: 44px;
    object-fit: contain;
    position: relative;
    top: 10px;
}

.bet-share-div {
    height: 100%;
    position: relative;
    margin-top: 6%;
    margin-bottom: 1px;
    float: bottom;
}

.bet-share-qr-line {
    flex: auto;
    bottom: 1px;
    width: 100%;
    margin-bottom: 30px;
    border: solid 1px #e7eaec;
}

.bet-share-qr-div {
    width: 146px;
    height: 148px;
    margin: auto;
}

.share-desc-div {
    flex: auto;
    margin-top: 15px;
    width: 100%;
}

.share-font {
    height: 20px;
    width: 100%;
    font-family: SFUIText;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 35px;
    color: rgba(0, 0, 0, 0.38);
}

.share-save-button-div {
    flex: auto;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.share-save-button {
    text-align: center;
    width: 227px;
    height: 40px;
    border-radius: 4px;
    margin: auto;
    background-color: #1976d2;
}

.share-save-button-font {
    position: relative;
    margin-top: 11px;
    height: 16px;
    width: 100%;
    font-family: SFUIText;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.share-bottom-div {
    flex: auto;
    position: relative;
    float: bottom;
    margin-top: 5px;
}