.main-bg {
    background-color: #f8f8f8;
}

input {
    flex: auto;
    padding-top: 30px;
    font-family: SFProText;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-left: 5%;
    position: relative;
    margin-bottom: 3px;
    border: none;
    outline: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: SFProText;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #dadde3;
}

.main-contain {
    overflow: hidden;
    display: flex;
    float: top;
}

.main-div {
    flex: auto;
    position: relative;
}

.main-div-option {
    flex: auto;
    height: 50px;
    position: relative;
}

.main-hidden {
    visibility: hidden;
}

.main-middle {
    flex: auto;
    background-color: #ffffff;
}

.main-bottom {
    flex: 1;
    position: relative;
    background-color: #f8f8f8;
    margin-left: 5%;
    margin-right: 5%;
}

.main-line {
    flex: auto;
    margin-left: 5%;
    margin-right: 5%;
    bottom: 1px;
    border: solid 1px #e7eaec;
}

.main-line-button {
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 1px;
    bottom: 1px;
    border: solid 1px #e7eaec;
}

.main-front {

}

.button-div {
    flex: auto;
    position: relative;
    margin-top: 15px;
}

.main-button-option {
    width: 24px;
    height: 24px;
    object-fit: contain;
    padding-left: 2px;
    margin-left: 5%;
    position: relative;
    top: 20px;
}

.main-button-front {
    width: 180px;
    object-fit: contain;
    margin-left: 5%;
    left: 40px;
    color: #1976d2;
    font-family: SFProText;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    position: relative;
    bottom: 5px;
}

.main-button-div {
    flex: auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main-button {
    flex: auto;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    background-color: #c6cfd5;
}

.main-button-font {
    width: 156px;
    height: 16px;
    font-family: SFUIText;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fcfcfc;
}

.main-button-not-click-font {
    margin: auto;
    font-family: SFUIText;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: auto;
    position: relative;

    color: #fcfcfc;
}

.main-bet-status-top {
    margin-top: 5%;
    padding-top: 25px;
}

.main-bet-status {
    font-family: SFUIText;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6aba0c;
}

.main-bet-join-div {
    flex: auto;
    margin-left: 5%;
    margin-top: 5%;
    padding: -1px;
    text-align: left;
    float: left;
    position: relative;
}

.main-bet-join-div-right {
    flex: auto;
    margin-left: 5%;
    margin-top: 5%;
    padding: -1px;
    text-align: right;
    float: top;
    position: relative;
}

.main-bet-title {
    width: 245px;
    height: 24px;
    font-family: SFProText;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: rgba(0, 0, 0, 0.87);
    float: left;
}

.main-bet-choice {
    flex: auto;
    margin-top: 18px;
    position: relative;
    box-shadow: 0 0 0 0 rgba(25, 118, 210, 0.1);
    background-color: #ffffff;
}

.main-bet-choice-right {
    width: 20px;
    height: 15px;
}

.main-bet-choice-right-div {
    flex: auto;
    float: right;
    margin-top: 5%;
    position: relative;
    right: 20px;
}

.main-bet-choice-font {
    text-align: left;
    margin: auto;
}

.main-detail {
    margin-top: 15px;
}

.main-bet-details-font {
    flex: auto;
    font-family: SFProText;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    position: relative;
    box-shadow: 0 0 0 0 rgba(25, 118, 210, 0.1);
    background-color: #ffffff;
}

.main-bet-detail-show {
    flex: auto;
    margin-left: 5%;
    margin-top: 3%;
    padding: -1px;
    position: relative;
}

.main-bet-detail-div {
    flex: auto;
    position: relative;
    margin-bottom: 8px;
    padding: -1px;
    box-shadow: 0 0 0 0 rgba(25, 118, 210, 0.1);
    background-color: #ffffff;
}

.main-bet-detail {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}

.main-bet-address-left {
    font-weight: normal;
    float: left;
    color: rgba(0, 0, 0, 0.54);
}

.main-bet-address-right {
    float: right;
    font-weight: normal;
    color: rgba(25, 118, 210, 0.87);
}

.main-float-right {
    float: right;
}

.main-bet-address-normal {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

