input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: SFProText;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #dadde3;
}